* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: rgb(49, 33, 33);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3rem;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.fullname {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.date-of-birth {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-top: 0.5rem;
}

.place-of-birth {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-top: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}

